<h2>Event Mail</h2>

<%= form_with  url: user_group_contact_path(user.id,group.id), method: :post, local: false do |f| %>
  <p>Title</p>
  <%= f.text_field :title, class: "form-control " %>
  <p>Contact</p>
  <%= f.text_area :contact,class: "form-control " %>

  <%= f.submit "送信", class:"btn btn-info d-block mt-3" %>
<% end %>
